@font-face {
    font-family:"amazon" ;
    src: url(./assets/fonts/amazon-ember/Amazon\ Ember.ttf);
}
* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "amazon";
}


.section-1 {
    background-image: url('./assets/img/banner-1.jpg');
    height: 675px;
    background-repeat: no-repeat;
    width: 980px;
    color: white;
}

.section-2{

}