@font-face {
    font-family: "google";
    src: url('./assets/fonts/google-sans/ProductSans-Black.ttf');
}
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    max-width: 1496px;
    margin: auto;
    font-family: "google";
    font-weight: 400;
    box-sizing: border-box;
}

.nav-bar{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    position: fixed;
    backdrop-filter: blur(5px);
    z-index: 1;
}

.nav-center{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.nav-right{
    display: flex;
    align-items: center;
    gap: 10px;
}


.nav-btn{
    height: 40px;
    width: 120px;
    background-color: #ff497c;
    border: none;
    color: white;
    font-weight: 550;
    border-radius: 2px;
}

.logo{
    height: 100px;
    width: auto;
    object-fit: cover;
    padding-left: 10px;
}

.nav-center p:hover{
    color: #ff497c;
    cursor: pointer;
    transition: all 0.3s;
}

.section-1{
    position: relative;
    display: flex;
    align-items:center;
    height: 100vh;
    width: 100%;
    background-image: url('./assets/img/bg.jpg');
}

.section-1 h1{
    font-size: 60px;
    color: white;
    text-align: end;
    position: absolute;
    right: 30px;
}

.n-btns{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.n-btns button{
    height: 50px;
    width: 50px;
    color: #ff497c;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
}

.s1-btn{
    position: absolute;
    right: 20px;
    top:65%;
    display: flex;
    gap: 10px;
}

.s1-btn button{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 2px;
    gap: 5px;
}

.b1{
    font-weight: 600;
    color: white;
    background-color: #ff497c;
}
.b2{
    font-weight: 600;
    background-color: white;
    color: #ff497c;
}

.section-2{
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
}

.left{
    width: 50%;
}

.right{
    /* background-color: aquamarine; */
    position: relative;
    width: 50%;
}

.right .h3{
    position: absolute;
    top: 15%;
    color: #ff497c;
    font-size: 16px;
    font-weight: 500;
}

.right h1{
    position: absolute;
    top: 25%;
    left: 20px;
    font-size: 50px;
}

.right .des{
    position: absolute;
    top: 50%;
    width: 85%;
    font-weight: 400;
    color: gray;
    left: 20px;
}

.l-2 h1{
    position: absolute;
    color: #ff497c;
    font-size: 50px;
    top: 65%;
    left: 50px;
}

.l-2 span{
    position: absolute;
    top: 75%;
    color: gray;
    left: 20px;
}


.l-2 .r{
    position: absolute;
    top: 65%;
    left: 30%;
}

.check{
color: #ff497c;
}

.r p{
    color: gray;
    font-weight: 400;
    font-size: 18px;
}

.r .read-more-btn{
    position: absolute;
    top: 165%;
    left: -82%;
    height: 40px;
    width: 150px;
    background-color: #ff497c;
    border: none;
    border-radius: 2px;
    color: white;
    font-weight: 550;
}

.section-2 .left{
    display: flex;
    align-items: center;
}

.image-1{
    position: absolute;
    top: 17%;
    right: 60%;
    border-radius: 8px;
    height: 330px;
    width: 300px;
}

.image-2{
    position: absolute;
    top: 50%;
    left: 10%;
    border-radius: 8px;
    height: 230px;
    width: 230px;
}

.image-3{
    position: absolute;
    bottom: 8%;
    right: 52%;
    border-radius: 8px;
    height: 250px;
    width: 200px;
    z-index: -1;
}

.image-4{
    position: absolute;
    top: 25%;
    right: 56%;
    border-radius: 8px;
    height: 100px;
    width: 100px;
}

.section-3{
    height: 80vh;
    width: 100%;
    background-color: blueviolet;
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head h3{
    font-size: 16px;
    color: #ff497c;
    font-weight: 400;
}

.head input{
    width: 70px;
    height: 1px;
    background-color: #ff497c;
}
