body {
    height: 80vh;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

button {
    padding: 15px;
    height: 50px;
    width: 170px;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border: none;
}

.b1 {
    background: linear-gradient(to right, #26ADDD, #3EE09B);
}

.b2 {
    background: linear-gradient(to right, #F4C25B, #E53E08);
}

.b3 {
    background: linear-gradient(to right, #677AE4, #754DA4);
}

.b4 {
    background: linear-gradient(to right, #FC6472, #FF9846);
}

.b5 {
    background: linear-gradient(to right, #0DA462, #39B98F);
}

.b6 {
    background: linear-gradient(to right, #129843, #F2EA22)
}

.b7 {
    background: linear-gradient(to right, #6351DD, #842F95);
}

.b8 {
    background: linear-gradient(to right, #2C3540, #475462);
}

.b9 {
    background: linear-gradient(to right, #26A8E1, #4283EA);
}

.b10 {
    background: linear-gradient(to right, #ED709D, #EC8A6D);
}

.b11 {
    background: linear-gradient(to right, #EC3C44, #F15C62);
}